/* * {
    margin: 0;
    padding: 0;
} */

h1 {
    text-align: center;
}

.warapper {
    width: 100%;
}



/* Main Layout */

.topic-main {
    background-color: #333;
    color: bisque;
    float: left;
    width: 30%;
}
/* 
.topics-container {
    text-align: center;
    padding: 10%;
} */

#topics-container {
    list-style: none;
    padding: 0;
    border-top: 1px solid #ddd;
}

ul li {
    text-align: center;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}


/* Flashcard Layout */

.flashcard-main {
    background-color: rgb(211, 211, 211);
    float: right;
    width: 70%
}


/* Editable class */

.edit {
    border: 1px solid black;
    padding: 20px;
}