/* * {
    margin: 0;
    padding: 0;
} */

h1 {
    text-align: center;
}

body {
    background-color: rgb(233, 233, 233);
}

/* Main Layout */

.topic-main {
    background-color: #333;
    color: bisque;
    float: left;
    width: 30%
}

.topics-container {
    text-align: center;
    padding: 10%;
}


/* Flashcard Layout */

.flashcard-main {
    background-color: rgb(255, 255, 255);
    float: right;
    width: 70%
}

.flashcard-container {
        float:left;
        width:30%;
        background-color: rgb(230, 230, 230);
        color: #000080;
        margin:15px;
        text-align: center;
}