/* * {
    margin: 0;
    padding: 0;
} */

h1 {
    text-align: center;
}

body {
    height: 100%;
    background-color: rgb(233, 233, 233);
}

/* Main Layout */

.topic-main {
    background-color: #333;
    color: bisque;
    float: left;
    width: 30%;
}

.topics-container {
    text-align: center;
    padding: 10%;
}

#topics-container {
    list-style: none;
    padding: 0;
    border-top: 1px solid #ddd;
}

ul li {
    text-align: center;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}

.fa-edit {
    float: left;
}

/* Flashcard Layout */

.flashcard-main {
    background-color: rgb(255, 255, 255);
    float: right;
    width: 70%
}

.flashcard-container {
        float:left;
        width:30%;
        background-color: rgb(230, 230, 230);
        color: #000080;
        margin:15px;
        text-align: center;
}

/* Editable class */
.edit {
    border: 1px solid black;
    padding: 20px;
}